.tasks {
    width: 100%;
    min-width: 736px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}
.header > div {
    display: flex;
    align-items: center;
    gap: 14px;
}
.header p {
    color: #4ea8de;
    font-size: 20px;
    font-weight: 700;
}
.textPurple {
    color: #8284fa !important;
    margin-left: 30px;
}
.header span {
    background: #333333;
    color: #d9d9d9;
    padding: 3px 9px;
    border-radius: 999px;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 55px;
}