.header {
    background: #0850678f;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    position: relative;
}
.taskForm {
    position: absolute;
    height: 54px;
    bottom: -27px;
    width: 20%;
    min-width: 736px;
    display: flex;
    gap: 8px;
    padding: 0 1rem;
}
.taskForm input {
    height: 100%;
    flex: 1;
    color: #fff;
    background: rgba(26, 65, 88);
    border: 1px solid #a6a6b9;
    border-radius: 8px;
    padding: 0 16px;
    font-size: 16px;
    outline: none;
    margin-right: 10px;
}
.taskForm input::placeholder {
    color: #8e9fad;
}
.taskForm button {
    height: 100%;
    padding: 0 16px;
    background: #1e6f9f;
    color: #fff;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 700;
    font-size: 16px;
}